<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>Shopefake</title>
</head>
<body>
    <div class = "grid-container">
        <header class="row"> 
<div> 
<a href = "index.html">Shopefake</a>
</div>
<div> 
<a href ="cart.html">Cart</a>
<a href = "signin.html">Sign in </a>
</div>
        </header>
        <main>
<div class="row center">
 <div class="card">
<a href = "product.html">
<img src="/template/imges/prd1.jpg" alt = "product" />
</a>
 </div>
</div>
        </main>
<footer class = "row center">
All Right reserved 
</footer>

    </div>
</body>
</html>